<html ng-app="CommentApp">
<head>
  <script src="/static/angular.js"></script>
</head>
<body ng-controller="CommentController">

  <ul>
    <input type="text" ng-model="page" ng-change="loadRecords()">

    <div style="border:1px solid black; margin:20px; padding: 15px; width: 250px;">
        <div class="box save-box">
            <div class="submit-row clearfix">
                <button type="button" ng-show="can_add_record" ng-click="newRecord()" class="btn btn-high btn-success">Agregar</button>
                <button type="button" ng-show="can_edit_record" ng-click="editRecord()" class="btn btn-high">Modificar</button>
                <button type="submit" name="_save" ng-show="can_save_record" ng-click="saveRecord(record)" class="btn btn-high btn-info">Guardar</button>
                <button type="button" name="_cancel" ng-show="can_save_record" ng-click="cancelEditRecord()" class="btn btn-high btn-danger">Cancelar</button>
            </div>
        </div>
        <form action="" name="genericForm">
            <fieldset ng-disabled="editing_record==false">

                {% for field in form %}
                    <div class="mydiv">
                        <label class="mylabel">{{ field.label }}</label>
                        {{ field }}
                        <span ng-show="record_errors.{{field.name}}">{$record_errors.{{field.name}}[0]$}</span>
                    </div>
                {% endfor %}
            </fieldset>
        </form>
    </div>


    <li ng-repeat="comment in comments" ng-dblclick="loadRecord(comment)">
      <span>{$comment.title$} | {$comment.category$}</span>
      <p>{$comment.content$}</p>
    </li>
  </ul>


<script language="javascript" type="text/javascript">
    // se declara la aplicacion
    var CommentApp = angular.module('CommentApp', []);

    // compatibilidad con los template tags de django
    CommentApp.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('{$');
        $interpolateProvider.endSymbol('$}');
    });

    // Servicios
    CommentApp.service('crudService', function ($http) {

        $http.defaults.headers.post['X-CSRFToken'] = '{{ csrf_token }}';
        $http.defaults.headers.put['X-CSRFToken'] = '{{ csrf_token }}';
        // $http.defaults.headers['delete']['X-CSRFToken'] = $cookies.csrftoken;

        this.getComment = function (comment_url) {
            return $http.get(comment_url);
        }

        this.getFormData = function (comment_url) {
            return $http.get(comment_url+'form_data'); 
        }

        this.getComments = function (page) {
            var get_params = '?page='+page;
            return $http.get("{% url 'comment-list' %}"+get_params); 
        }

        //Create new record
        this.saveComment = function (record) {
            var request = $http({
                method: "post",
                url: "{% url 'comment-list' %}",
                data:  record
            });
            return request;
        }

        this.updateComment = function (record) {
            var request = $http({
                method: "put",
                url: record.url,
                data:  record
            });
            return request;
        }

    });


    // Controladores
    CommentApp.controller('CommentController', function ($scope, crudService, $http) {
        
        //Pagination
        $scope.page = 1;
        $scope.next_page = "";
        $scope.previous_page = "";

        //App variables
        $scope.editing_record = false;
        $scope.can_add_record = true;
        $scope.can_edit_record = false;
        $scope.can_save_record = false;
        $scope.is_new_record = false;
        $scope.record;
        $scope.selected_record;
        $scope.record_errors;

        $scope.loadRecords = function(){
            var promiseGet = crudService.getComments($scope.page); 
            promiseGet.then(
                function (pl) { 
                    $scope.comments = pl.data['results'];
                    $scope.next_page = pl.data['next'];
                    $scope.previous_page = pl.data['previous'];
                },
                function (errorPl) {
                    $log.error('Error cargando comentarios', errorPl);
                });   
        };

        $scope.loadRecord = function(comment){
            var promiseGet = crudService.getComment(comment.url);
            promiseGet.then(
                function (pl) { 
                    $scope.record = pl.data;
                    $scope.selected_record = pl.data;
                    $scope.can_edit_record = true;
                },
                function (errorPl) {
                    $log.error('Error cargando comentarios', errorPl);
                }
            );
        };

        $scope.editRecord = function(){
            $scope.editing_record = true;
            $scope.can_add_record = false;
            $scope.can_edit_record = false;
            $scope.can_save_record = true;
        };
            
        $scope.saveRecord = function(record){
            // update
            var url = record.url;
            
            if (url)
            {
                var promiseGet = crudService.updateComment(record);
            }else{
                var promiseGet = crudService.saveComment(record);
            }

            promiseGet.then(
                function (pl) { 
                    $scope.selected_record = pl.data;
                    $scope.cancelEditRecord();
                    $scope.loadRecords();
                },
                function (errorPl) {
                    $scope.record_errors = errorPl.data;
                }
            );
        };

        $scope.newRecord = function(){
            $scope.editing_record = true;
            $scope.can_add_record = false;
            $scope.can_edit_record = false;
            $scope.can_save_record = true;
            $scope.is_new_record = true;
            $scope.record = null;
            $scope.genericForm.$setPristine();
        };

        $scope.cancelEditRecord = function(){
            //check record
            if ($scope.selected_record)
            {
                $scope.loadRecord($scope.selected_record);
                $scope.can_edit_record = true;
            }
            else
            {
                $scope.can_edit_record = false;
            }

            $scope.editing_record = false;
            $scope.can_add_record = true;
            $scope.can_save_record = false;
            $scope.is_new_record = false;
            $scope.record_errors = null;
        };

        $scope.loadRecords();

        // Form data
        $http({
                method: 'GET',
                url: "{% url 'category-list' %}",
                // data: { applicationId: 3 }
            }).success(function (result) {
                $scope.categories = result.results;
        });

        $http({
                method: 'GET',
                url: "{%url 'comment-list'%}txt_choices/",
                // data: { applicationId: 3 }
            }).success(function (result) {
                $scope.txt_choices = result.results;
        });

        $http({
                method: 'GET',
                url: "{%url 'comment-list'%}int_choices/",
                // data: { applicationId: 3 }
            }).success(function (result) {
                $scope.int_choices = result.results;
        });


    });

</script>

</body>
</html>
	
	